body {
    color: white;
    background:  rgb(9, 9, 9);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 70px;
}

header {
    border-bottom: solid 2px rgb(238, 25, 6);
    padding: 20px;
    font-size: 32px;
    color: rgb(238, 25, 6);
}

.chamada {
    background:rgb(238, 25, 6);
         border-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
}

.chamada-texto {
    margin-rigth: 5%;

}
h1 {
    font-size: 40px;
} 

p { 
    font-siz: 20px;
}

img {
    height: 200px;
}

.categoria-vídeos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    
    .categoria {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }

    .categoria-vídeos img {
        opacity: 0.5;
    }

    .categoria-vídeos img:hover {
        opacity: 1.0;
        border: 1px solid green;
    }
    .categoria h2 {
        color: rgb(238, 25, 6);
    }